* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(30, 54%, 90%);
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 275px;
    height: 650px;
    border-radius: 10px;
    padding: 1em;
    background-color: white;
}


/* Images */ 

img {
    width: 100%;
    border-radius: 7.5px;
}

/* Font style and sizing */

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

h2, 
p, 
ul, 
ol {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: .5rem;
    font-weight: bold;
    line-height: 1rem;
}

p,
ul,
ol {
    font-size: .41rem;
}

ul, ol {
    padding-left: 1.75em;
    line-height: 1rem;
}

.li-bold {
    font-weight: bold;
}


/* Layout */

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .5em 0 .5em 0;
    height: 25%;
    border: 2px solid red;
}

.prep {
    background-color: hsl(330, 100%, 98%);
    padding: .75em;
}

.main-container {
    height: 45%;
    border: 2px solid red;
}

.seperator-line {
    border-top: 1px solid hsl(30, 10%, 34%);
}

.bottom-container {
    height: 20%;
    border: 2px solid red;
}








